.team-main-members-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 5% auto 0 auto;
}

.team-sub-members-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 0 auto 0 auto;
}

.sub-title{
  padding: 5%;
  text-align: center;
  font-size: 28px;
  margin: 0;
}

.team {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.team-name {
  font-size: 24px;
  margin: 10px 0;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.member-card {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.member-card.unfolded .temp-name {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hidden {
  visibility: hidden;
}

.member-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.3s;
}

.member-image::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.member-image-hover{
  transform: scale(1.03) !important;
}

.temp-name {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 1;
  font-size: 1.4rem;
}

.unfoldButton {
  display: none;
  position: absolute;
  top: 55%;
  left: 0;
  width: 34%;
  margin: 0 33%;
  transform: scale(1);
}

.member-details {
  padding: 10px;
  text-align: center;
}

.member-name {
  font-size: 18px;
  margin: 10px 0;
  color: #fff;
}

.hide-card{
  height: 400px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 35%;
  font-size: 24px;
  transition: transform 0.2s;
}

.social-button.twitter {
  background-color: #000;
}

.social-button.twitch {
  background-color: #ffffff;
}

.social-button.youtube {
  background-color: #FF0000;
}

.social-button.tiktok {
  background-color: #000;
  padding: 0 6%;
}

.social-button:hover {
  transform: scale(1.1);
}

.unfoldButton:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.member-image:hover .unfoldButton {
  display: block;
  transform: scale(1.03);
}

.member-image:not(:hover) .unfoldButton {
  display: none;
  transform: scale(1);
}

.member-image:hover {
  transform: scale(1.03);
}

.member-image:not(:hover) {
  transform: scale(1);
}

@media (max-width: 1000px) {
  .team-main-members-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .team-sub-members-container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}