<div class="team-main-members-container">
  <ng-container *ngFor="let mainMember of mainMembers; let i = index">
    <div class="member-card" [class.hide-card]="mainButtonUnfoldedIndex !== i" appOutsideClick
      (appOutsideClick)="closeMemberDetails(i, true)">
      <div class="member-image" [class.member-image-hover]="mainButtonUnfoldedIndex === i"
        [style.background-image]="'url(' + mainMember.img + ')'">
        <h2 class="temp-name" [class.hidden]="mainButtonUnfoldedIndex === i">{{mainMember.name}}</h2>
        <button (click)="buttonUnfoldClick(i, true)" class="unfoldButton" mat-raised-button
          [class.hidden]="mainButtonUnfoldedIndex === i">
          Unfold
        </button>
      </div>

      <div class="member-details">
        <h2 class="member-name">{{mainMember.name}}</h2>
        <div class="social-buttons">
          <a *ngIf="mainMember.socialMedia.twitter" href="{{mainMember.socialMedia.twitter}}" target="_blank"
            class="social-button twitter">
            <img src="/assets/img/X_logo_2023_(white).png" width="30px">
          </a>
          <a *ngIf="mainMember.socialMedia.twitch" href="{{mainMember.socialMedia.twitch}}" target="_blank"
            class="social-button twitch">
            <img src="/assets/img/580b57fcd9996e24bc43c540.png" width="30px">
          </a>
          <a *ngIf="mainMember.socialMedia.youtube" href="{{mainMember.socialMedia.youtube}}" target="_blank"
            class="social-button youtube">
            <mat-icon>youtube</mat-icon>
          </a>
          <a *ngIf="mainMember.socialMedia.tiktok" href="{{mainMember.socialMedia.tiktok}}" target="_blank"
            class="social-button tiktok">
            <mat-icon>tiktok</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<h1 class="sub-title">Substitute</h1>
<div class="team-sub-members-container">
  <ng-container *ngFor="let subMember of subMembers; let i = index">
    <div class="member-card" [class.hide-card]="subButtonUnfoldedIndex !== i" appOutsideClick
      (appOutsideClick)="closeMemberDetails(i, false)">
      <div class="member-image" [class.member-image-hover]="subButtonUnfoldedIndex === i"
        [style.background-image]="'url(' + subMember.img + ')'">
        <h2 class="temp-name" [class.hidden]="subButtonUnfoldedIndex === i">{{subMember.name}}</h2>
        <button (click)="buttonUnfoldClick(i, false)" class="unfoldButton" mat-raised-button
          [class.hidden]="subButtonUnfoldedIndex === i">
          Unfold
        </button>
      </div>

      <div class="member-details">
        <h2 class="member-name">{{subMember.name}}</h2>
        <div class="social-buttons">
          <a *ngIf="subMember.socialMedia.twitter" href="{{subMember.socialMedia.twitter}}" target="_blank"
            class="social-button twitter">
            <img src="/assets/img/X_logo_2023_(white).png" width="30px">
          </a>
          <a *ngIf="subMember.socialMedia.twitch" href="{{subMember.socialMedia.twitch}}" target="_blank"
            class="social-button twitch">
            <img src="/assets/img/580b57fcd9996e24bc43c540.png" width="30px">
          </a>
          <a *ngIf="subMember.socialMedia.youtube" href="{{subMember.socialMedia.youtube}}" target="_blank"
            class="social-button youtube">
            <mat-icon>youtube</mat-icon>
          </a>
          <a *ngIf="subMember.socialMedia.tiktok" href="{{subMember.socialMedia.tiktok}}" target="_blank"
            class="social-button tiktok">
            <mat-icon>tiktok</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>