<h1 class="title">About Us</h1>
<div class="about">
   <p>
   Herzlich willkommen bei J4 – deinem Ziel für spaßgeladenes und kompetitives Gaming im Bereich Valorant Esports! 
   Als ein Esports Team haben wir uns nicht nur dem Streben nach Siegen verschrieben, sondern auch dem Prinzip,
   dass Spaß und Leidenschaft der Schlüssel zu unserem Erfolg sind. 
   </p>
   <p>
   Bei J4 steht jeder Spieler nicht nur für individuelle Fähigkeiten, sondern auch für Teamzusammenhalt und den unverkennbaren J4-Spirit. 
   Unser Fokus liegt auf dem Erreichen von Höchstleistungen im Esports, ohne dabei den Unterhaltungsfaktor aus den Augen zu verlieren. 
   </p>
   
   <p>
   Erfahre auf unserer Webseite mehr über die talentierten Mitglieder von J4 und ihre beeindruckenden Leistungen im Spiel. 
   Wir sind stolz darauf, nicht nur als Team, sondern als eingeschworene Einheit aufzutreten, die den Esports-Bereich mit Energie und Begeisterung bereichert.
   </p>
</div>
